header {
    background-color: var(--header);
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: "Inter", sans-serif;
}

.jumbotron {
    background-image: url("https://i.imgur.com/78hlXL4.jpg"); 
    background-size: cover; /* Cover the entire header area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 200px;
    color: white;
  
}

.bg-light {
  background-color: #c2c2c2 !important;
}


#sidebar {
    border-radius: 15px;
    padding: 5px;
}

.card {
    padding: 5px;
}
